<div class="container">
  <header class="header-container">
    <div class="d1">
      <img  class="logo-img" src="./../assets/logo.PNG">
    </div>

    <div class="d2">
      <div id="sn-div">
        Síguenos en 
        <div class="sn-icon"><img src="./../assets/fb-icon.png"></div>
        <div class="sn-icon"><img src="./../assets/inst-icon.png"></div>
        <div class="sn-icon"><img src="./../assets/linkedin-icon.jpg"></div>
        <div class="sn-icon"><img src="./../assets/yt.png"></div>
      </div>
    </div>
    
    <div class="d3">
      <div class="s1">NOSOTROS</div>
      <div class="s2">PRODUCTOS Y SERVICIOS</div>
      <div class="s2">COMERCIAL</div>
      <div class="s2">CONTACTO</div>
    </div>
  </header>

  <main>
    <img id="first-wallpeper" src="./../assets/first-wallpaper.PNG">

    <div>
      <h2>NOSOTROS</h2>
      <p class="we-paragraph">Nacemos como respuesta integrada a las diversas necesidades de provisión, gestión y control de abastecimiento energético de nuestros clientes</p>
      <p class="we-paragraph">Ofrecemos soluciones holísticas a los desafíos que enfrentan las empresas en la actualidad, buscando generar información pertinente y oportuna
        para la toma de decisiones.</p>
    </div>

    <h3>Somos innovación</h3>

    <div class="imgs-container">
      <div class="img-d1">1</div>
      <div class="img-d2">2</div>
      <div class="img-d3">3</div>
    </div>

    <h2>PRODUCTOS Y SERVICIOS</h2>

    <div class="pas-container">
      <div class="pas-d1">
        <p class="pas-paragraph">Provisición de combustibles Gasoil, Nafta, Alcohol Carburante de alta calidad y con aditivos que mejoran el desempeño del motor.</p>
      </div>
      <div class="pas-d2">
        <img class="middle-img" src="./../assets/middle-img.PNG">
      </div>
      <div class="pas-d3">
        <p class="pas-paragraph">Sistemas de Gestión Energética que integran datos de abastecimiento de combustibles y operaciones de flota, permitiendo obtener información
          relevante para el control y la toma de decisiones estratégicas.</p>
      </div>
    </div>

    <img id="second-wallpeper" src="./../assets/second-wallpaper.PNG">

    <h3>Provisión de combustibles de alta calidad y con aditivos que mejoran el desempeño del motor</h3>

    <div class="kof-container">
      <div class="kof-d1"></div>
      <div class="kof-d2"></div>
      <div class="kof-d3"></div>
      <div class="kof-d4"></div>
    </div>

    <h2>SISTEMAS DE GESTION</h2>

    <div class="sdg-container">
      <div class="sdg-d1">
        <p>Contamos con el mejor Sistema de gestión de Eficiencia Energética que integran datos de abastecimiento de combustible y operaciones de flota, permitiendo obtener
          información relevante para el control y la toma de decisiones estratégicas.</p>
      </div>
      <div class="sdg-d2"></div>
    </div>

    <div class="desc-container">
        <div class="desc-d1">
          <img class="desc-img" src="./../assets/desc-img.PNG">
        </div>
        <div class="desc-d2">
          <h3>Es un revolucionario sistema de control y gestión de surtidores de combustibles líquidos.</h3>
        </div>
        <div class="desc-d3">
          <img  class="drop-img" src="./../assets/drop-img.PNG">
        </div>
        <div class="desc-d4">
          <h2>ES UNA HERRAMIENTA PRIMORDIAL DE CONTROL, EVITA ROBOS Y DESVÍOS DE COMBUSTIBLES.</h2>
        </div>
    </div>

    <div id="desc-box">
      <div id="box-d1">
        <img src="./../assets/img-box1.PNG">
        <p>Alguna descripción larga para ver como se ve nomas y hacer retoques en base 
          a como se ve luego ya veremos otros detalles
        </p>
      </div>
      <div id="box-d2">
        <img src="./../assets/img-box2.PNG">
        <p>Alguna descripción larga para ver como se ve nomas y hacer retoques en base 
          a como se ve luego ya veremos otros detalles
        </p>
      </div>
      <div id="box-d3">
        <img src="./../assets/img-box3.PNG">
        <p>Alguna descripción larga para ver como se ve nomas y hacer retoques en base 
          a como se ve luego ya veremos otros detalles
        </p>
      </div>
    </div>
  </main>

  <footer>
    <h2>CONTACTOS</h2>
    <div id="footer-grid">
      <div class="footer-d1">
        <p>Dirección: Edificio Sky. piso 25, dpto 1235, Avda. Santa Tereza 1234</p>
      </div>
      <div class="footer-d2">
        <p>Tel. 595 29 502 252 . Cel.> 595 981 320 223 Mails: info@agropetrol</p>
      </div>
      <div class="footer-d3">
        <p>web: www.agropetrol.com.py Asunción, Paraguay</p>
      </div>
      <div class="footer-d4"></div>
    </div>
  </footer>

</div>