@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {font-family: 'Open Sans', sans-serif;}

.header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 75px;
    grid-template-areas:
        "logo"
        "social-header"
        "search-header";
}

.d1{grid-area: logo;}
.d2{grid-area: social-header; text-align: right; position: relative;}

.d3{
    display: grid;
    grid-area: search-header;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    background: green;
    position: relative;
    z-index: 2;
    border-radius: 50px 0 0 0;
}

.d3:after{
    content: '';
    margin-left: -10px;
    top: 0;
    height: 75px;
    background: green;
    transform: skew(-25deg,0deg);
    /*-o-transform: skew(-35deg,0deg);
    -ms-transform: skew(-35deg,0deg);
    -moz-transform: skew(-35deg,0deg);
    -webkit-transform: skew(-40deg,0deg);*/
    position: absolute;
    width: 150px;
    border-top-left-radius: 40px;
    position: absolute;
    z-index: -1;
}

.d3 .s1, .d3 .s2, .d3 .s3, .d3 .s4 {
    display: grid;
    align-items: center;
    justify-content: center;
}

.logo-img{
    height: auto;
    width: 100%;
}

#sn-div {
    display: inline-block;
    width: auto;
    -webkit-box-shadow: 0px -6px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -6px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -6px 17px -1px rgba(0,0,0,0.75);
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container {
    max-width: 1196px;
    margin: auto;
}



.imgs-container {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.pas-container {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.kof-container {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sdg-container {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr;
}

.desc-container {
    display: grid;
    grid-template-areas:
        "f-image h3-title drop-img"
        "footer-title footer-title drop-img";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 150px;
}

#desc-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px;
}

@media (min-width: 500px){
    .header-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "logo"
            "social-header"
            "search-header";
    }

    .d3 {
        grid-template-columns: 1fr;
        border-radius: 0;
    }

    .d3:after{
        content: none;
    }

    .imgs-container {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px 150px; //cambiar
    }

    .pas-container {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px 150px; //cambiar
    }

    .sdg-container {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px;
    }

    .desc-container {
        display: grid;
        grid-template-areas:
            "f-image h3-title"
            "footer-title footer-title";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 150px 150px;
    }

    #desc-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    #footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px;
    }
}

@media(min-width: 600px) {
    .header-container {
        grid-template-columns: minmax(150px, 1fr) 2fr;
        grid-template-rows: 75px 75px;
        grid-template-areas:
            "logo social-header"
            "logo search-header";
    }

    .d3 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-radius: 50px 0 0 0;
    }

    .d3:before{
        content: '';
        margin-left: -45px;
        border-left: 10px solid yellow;
        top: 0;
        height: 75px;
        background: orange;
        transform: skew(-35deg,0deg);
        /*-o-transform: skew(-35deg,0deg);
        -ms-transform: skew(-35deg,0deg);
        -moz-transform: skew(-35deg,0deg);
        -webkit-transform: skew(-40deg,0deg);*/
        position: absolute;
        width: 150px;
        border-top-left-radius: 50px;
        position: absolute;
        z-index: -1;
    }

    .d3:after{
        content: '';
        margin-left: -10px;
        top: 0;
        height: 75px;
        background: green;
        transform: skew(-20deg,0deg);
        /*-o-transform: skew(-35deg,0deg);
        -ms-transform: skew(-35deg,0deg);
        -moz-transform: skew(-35deg,0deg);
        -webkit-transform: skew(-40deg,0deg);*/
        position: absolute;
        width: 150px;
        border-top-left-radius: 40px;
        position: absolute;
        z-index: -1;
    }

    .imgs-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px;
    }

    .pas-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px;   
    }

    .sdg-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px;
    }

    .desc-container {
        display: grid;
        grid-template-areas:
            "f-image h3-title drop-img"
            "footer-title footer-title drop-img";
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 150px 150px;
    }

    #desc-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    #footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px;
    }
}

.sn-icon {
    float: right;
    max-height: 10px;
    margin: 2px;
}

.sn-icon img {
    height: 20px;
}

#first-wallpeper {
    width: 100%;
    height: auto;
}

#second-wallpeper { //verificar
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    color: green;
}

.we-paragraph {
    text-align: center;
    font-size: x-large;
}

.pas-paragraph {
    text-align: center;
    font-size: x-large;
}

h3{
    color: orange;
    text-align: center;
}

/*
 * puede que los unifique
 */

.img-d1 {
    background: LightSkyBlue;
}

.img-d2 {
    background:LightSalmon;
}

.img-d3 {
    background: LightSkyBlue;
}

.pas-d1 {
    background: LightSkyBlue;
}

.pas-d2 {
    background:LightSalmon;
    justify-self: center;
}

.middle-img {
    height: 100%;
    width: auto;
}

.kof-d1 {
    background: LightSkyBlue;
}

.kof-d2 {
    background:LightSalmon;
}

.kof-d3 {
    background: LightSkyBlue;
}

.kof-d4 {
    background: Lightsalmon;
}

.desc-d1 {grid-area: f-image;}
.desc-d2 {grid-area: h3-title;}
.desc-d3 {grid-area: drop-img;}
.desc-d4 {grid-area: footer-title;}

.desc-img {
    height: 100%;
    width: auto;
}

.drop-img{
    height: 100%;
    width: auto;
}

#box-d1, #box-d2, #box-d3 {
    text-align: center;
    padding: 15px;
}
